# Database
POSTGRES_USER=db_user #"Admin"
POSTGRES_PASSWORD=db_password #"admin.1234"
POSTGRES_DB=db_name #"TODO"
POSTGRES_PORT=port #"5432"

# Backend
BACKEND_PORT=backend_port #"3000" (make sure its the same as the one in /backend/.env)

# Frontend
FRONTEND_PORT=frontend_port #"5173" (make sure its the same as the one in /frontend/.env)

