PORT=port_number
DATABASE_URL=postgresql://USER:PASSWORD@URL:PORT/TODO?schema=public
JWT_SECRET=jwt_secret_key
JWT_EXPIRES_IN=jwt_expiration_time # Example: "1h" for 1 hour, "30m" for 30 minutes
BCRYPT_SALT_ROUNDS=number_of_salt_rounds # Example: 10
CORS_ORIGIN=allowed_origin_url # Example: "http://localhost:5173"