PORT=backend_port #Example "3000" make sure its the same as the one in the main .env file
DATABASE_URL=db_url_connection #Example "postgresql://Admin:admin.1234@db:5432/TODO?schema=public" (it uses the same credentials as the one in the main .env file)
JWT_SECRET=jwt_secret_pw #Example "super.secret.password.2026"
JWT_EXPIRES_IN=jwt_expiration_time #"1h" for 1 hour, "30m" for 30 minutes
BCRYPT_SALT_ROUNDS=bcrypt_salt_rounds #Example: 10
CORS_ORIGIN=cors_allowed_origin #Example: "http://localhost:5173"